
/* modal buttons */
.btn-dribble {
    display: grid;
    flex: 1;
    width: 100%;
    border: hidden;
    background-color: #ea4c89;
    color: white;
    padding: 10px;
}

.btn-close {
    float: inline-start;
    width: 100%;
    border: hidden;
    background-color: darkgrey;
    color: white;
    padding: 10px;
    margin-top: 5px;
}

a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: white;
}

#avatar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem !important;
}

.avatar-subtitle {
    font-size: large;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

#development {
    background-color: #0BD498;
    padding-left: 1rem;
    padding-right: 1rem;
}

.dev-project {
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: white;
    padding: 1.5rem;
    margin-bottom: 1rem;
}

.dev-project-languages {
    padding-top: 1rem;
}

#about-section {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 10px;
    text-align: center;
}

#credential {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 10px;
}

.footer {
    padding: 2rem;
}

.page-section {
    padding: 2rem;
}

a.card-link {
    color: magenta;
    font-weight: 400;
}