.topnav {
    background-color: #ffffff;
    overflow: hidden;
  }
  
.topnav a {
    float: left;
    color: #f2f2f2;
    padding: 40px;
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif
  }

.name {
    color:#white;
    font-weight: bold;
    font-size: x-large;
    background-color: #4aaaa5; 
}

.right {
    color:#ffffff;
    text-align: right;
    float: right;
}

section {
    display: block;
    align-items: center;
    width: 960px;
  }
  
hr {
    width: max-content;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    font-weight: 600;
    color: #4aaaa5;
}

body {
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
        font-size: medium;
        float; left: ;
}

image {
    float: left;

}

form {
    display: block;
    margin-top: 0em;
    width: 400px;
  }

.message {
    height: 150px;
}

text {
    width: 400px;
}

button {
    background-color: #4aaaa5;
    color: white;
    font-size: medium;
    align: center;
    padding: 10px;
}

.w3-third {
    max-width: 200px;
    float: left;
    float: inline-start;
}

.container {
    position: relative;
}

.image {
    position: absolute;
    width: 100px;
    height: 100px;
    border: 1px solid red;
}